body {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	background-color: #8B0000;
	color: white;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	border: solid;
	border-width: 1px;
    border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    resize: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 0 5px rgb(238, 81, 81);
}

input[type="submit"] {
	display: block;
	padding: 10px;
	color: black;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
	border: none;
	border-radius: 3px;
	text-align: center;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: #ff4444;
	cursor: pointer;
}

.button {
	display: inline-block;
	padding: 5px 10px;
	color: black;
	background-color: #ffffff;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	align-self: center;
	margin-left: 10px;
}

.button:hover, .button-active {
	background-color: #ff4444;
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 40px;
	/* background-color: rgb(200, 0, 0); */
	background-color: rgb(100, 0, 0);
	/* padding: 10px; */
	justify-content: center;
	align-items: center;
}

.navitem {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

.navitem:hover, .navitem-active {
	border-bottom: 2px solid white;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 80vw;
	padding: 40px 0;
}

.login-form {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-self: center;
	max-width: 250px;
	/* align-items: center; */
}

.login-form > form > input {
	margin-top: 10px;
}

.remember {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.movie {
	display: inline-block;
	align-self: center;
	width: 80vw;
	color: black;
	background-color: white;
	margin: 10px 0;
	padding: 10px;
}

.movie > p {
	margin: 5px 0;
}

.pagination {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.movie-sort {
	display: flex;
	flex-direction: row;
	/* margin: 10px; */
	margin-left: 20px;
}

.movie-sort > input[type="submit"] {
	padding: 5px 10px;
	margin: 0 0 0 10px;
}
