html {
	overflow-y: scroll;
}

/* flash */
.alert {
	display: flex;
	width: auto;
	height: 40px;
	border-radius: 2px;
	align-items: center;
	margin: 15px;
	padding: 0 10px;
	color: white;
}

.alert-success {
	background-color: rgba(121, 190, 37, 0.9);
}

.alert-error {
	background-color: rgba(255, 0, 0, 0.9);
}

body {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	background-color: #8B0000;
	color: white;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	border: solid;
	border-width: 1px;
    border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    resize: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 0 5px rgb(238, 81, 81);
}

input[type="submit"] {
	display: block;
	padding: 10px;
	color: black;
	background-color: white;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	text-align: center;
	margin-top: 10px;
}

input[type="submit"]:hover {
	color: white;
	background-color: #ff4444;
	cursor: pointer;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
}

.button {
	display: inline-block;
	padding: 5px 10px;
	color: black;
	background-color: #ffffff;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	align-self: center;
	margin-left: 10px;
}

.button:hover, .button-active {
	background-color: #ff4444;
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 40px;
	background-color: rgb(100, 0, 0);
	justify-content: center;
	align-items: center;
}

.navitem {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

.navitem:hover, .navitem-active {
	border-bottom: 2px solid white;
}

.row {
	display: flex;
	flex-direction: row;
}

div.dotted {
	display: flex;
	/* border-style: dotted; */
	position: sticky;
	top: 50px;
	width: 20vw;
	height: calc(100vh - 65px);
	margin: 50px 20px 0;
	padding: 1px;
	background-image: url('../img/selection.gif');
}

div.ad {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8B0000;
	width: 100%;
	height: 100%;
	/* margin: 100px 1px; */
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 80vw;
	max-width: 1000px;
	padding: 40px 0;
}

.register {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-self: center;
	max-width: 250px;
	/* align-items: center; */
}

.login-form > form > input, .register > input {
	margin-top: 10px;
}

.remember {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.movie {
	display: inline-block;
	align-self: center;
	width: 100%;
	color: black;
	background-color: white;
	margin: 10px 0;
	padding: 10px;
}

.movie > p {
	margin: 5px 0;
}

.pagination {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.movie-sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* margin: 10px; */
	/* margin-left: 20px; */
}

.movie-sort > select {
	margin: 0 0 0 10px ;
}

.movie-sort > input[type="submit"] {
	padding: 5px 10px;
	margin: 0 0 0 10px;
}


/* Movie view */
.booking {
	display: inline-block;
	/* display: flex; */
	/* flex-direction: column; */
	/* max-width: 650px; */
	color: black;
	background-color: white;
	padding: 10px;
	
}

.booking > span, .booking > span:after {
	content: "\a";
	white-space: pre;
}

.booking > span > label {
	display: inline-block;
	width: 16px;
}

.booking > input[type="submit"] {
	color: white;
	background-color: #c00000;
	/* float: right; */
	width: 100%;
}

.booking > input[type="submit"]:hover {
	background-color: #e00000;
}

.seat {
	/* padding: 50px; */
	transform: scale(1.5);
	margin: 10px;
}

.seat:hover {
	cursor: pointer;
}

.seat[disabled=""]:hover {
	cursor: not-allowed;
}

@media screen and (max-width: 750px) {
	.seat {
		transform: scale(1.2);
		margin: 5px;
	}
}

@media screen and (max-width: 500px) {
	.seat {
		transform: scale(1);
		margin: 2px;
	}
}

@media screen and (max-width: 400px) {
	.booking {
		padding: 5px;
	}

	.seat {
		transform: scale(0.8);
		margin: 1px;
	}
}